{{page-title "ChevrotainDemo"}}

<div>
  <label>transform inputValue to Ast<Input @value={{this.value}} /></label>
  <button type="button" {{on "click" this.transformAst}}>转换</button>
</div>

{{outlet}}